<app-header-user></app-header-user>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Liste de mes emprunts</h1>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <section class="content">
    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Details</h3>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
            title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          
        </div>
      </div>
      <ng-container *ngIf="emprunts.length>0; else elseTemplate">



        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 order-3 order-md-3">
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Total
                        Emprunts</span>
                      <span class="info-box-number text-center text-muted mb-0">{{emprunts.length}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Historique des emprunts</h4>
                  <div class="post" *ngFor="let emprunt of emprunts">
                    <div class="user-block">
                      <img
                        class="img-circle img-bordered-sm"
                        src="assets/dist/img/image.jpg"
                        alt="user image"
                        />
                      <span class="username">
                        <a   [routerLink]="['/etudiant/livre/', emprunt.livre.id,
                        'view']" >{{emprunt.livre.titre}}.</a>
                      </span>
                      <span class="description">Date
                        d'emprunt : {{emprunt.date_emprunt | date: 'dd/mm/yyyy' }} - Date prevu la
                        remise : {{emprunt.date_retour | date: 'dd/mm/yyyy'}}
                      </span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      <ng-container *ngIf="emprunt.date_retour_reel !=null; else
                        elseTemplate">
                        Rendu le
                        {{emprunt.date_retour_reel | date: 'dd/mm/yyyy'}}
                      </ng-container>
                      <ng-template #elseTemplate>
                        Vous n'avez pas encore rendu ce livre
                      </ng-template>

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>


        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 order-3 order-md-3">
              <div class="row">
                <div class="col-12 col-sm-12">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Vous
                        n'avez pas d'emprunts</span>
                      <span class="info-box-number text-center text-muted mb-0">0</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>

 
</div>
